.login-container{
    text-align: center;
    padding-top: 8%;
    margin-bottom: 25%;
}

.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-form-1{
    border-radius: 10px;
    padding: 10%;
    margin-left: 35%;
    margin-right: 25%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-container form{
    padding: 10%;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit{

    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

.login-form-1 .ForgetPwd{
    color: #ffffff;
    font-weight: 200;
    text-decoration: none;
}

.upperTitle{
    padding-left: 20px;
    background-color: #0062cc;
    padding-bottom: 10px;
}

.test{
    
    text-align: center;
}